
/*google font*/
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@400;600;700&display=swap');


/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

/* Main Styling */
body {
    font-family: "Fraunces", serif, "Poppins", sans-serif;
    line-height: 1.7em;
}

a{
    color: #333;
    text-decoration: none;

}

h1, h2{
    padding-bottom: 20px;
    font-family: "Fraunces", serif;
}

p{
    margin: 10px 0;
    color:#333;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}

/* Utility Classes */
.container{
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
}
.text-primary {
    color: #37716C;
}
.lead{
    font-size: 20px;
}

.btn{
    display: inline-block;
    font-size: 18px;
    color: salmon;
    background-color: white;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
}

.btn:hover{
    background-color: palevioletred;
    color:#333;
}

.btn-light{
background: palevioletred;
color: black;

}

.bg-dark{
    background: #ddc2c2;
    color: #333;
}

.bg-light{
    background-color: beige;
}

.clr {
    clear: both;
}

.l-heading{
    font: size 30px;
}

/* Padding */
.py-1{padding: 10px 0;}
.py-2{padding: 20px 0;}
.py-3{padding: 30px 0;}



/*logo */

.logo{
    width: 300px;
}

/* Navbar */

#navbar{
    background-color: seashell
    opacity: 100%;   

}

.nav-container{
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
 
}


.full-width{
    flex-basis: 100%;
    background-color: #ddc2c2;
    opacity: 50%;
}

.link-container{
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    
}

.link-item{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
}


/*link hower*/

#navbar ul li a:hover,
#navbar ul li a.current {
    background: #fff;
    color: #333;
    border: 10px solid rgb(255, 255, 255);

}


/* Showcase */
#showcase {
    background: url(Pic/showcase.jpg) no-repeat
    center center/cover;
    height: 800px;
    position: relative;
    isolation: isolate;
    
}

#showcase ::after{
    content: '';
    position: absolute;
    inset: 0;
  z-index: -1;
    background:linear-gradient(rgb(251, 192, 192), rgba(255, 255, 255, 0.886));
  opacity: 0.2
}


#showcase .showcase-content {
    color:#333;
    text-align: center;
    padding-top: 200px;
}

#showcase .showcase-content h1{
    font-size: 60px;
    line-height: 1.2em;
    font-weight: 600;    
}

.add{
    font-size: 35px;
}

#showcase .showcase-content p {
    font-family: "Poppins", sans-serif;
padding-bottom: 20px;
line-height: 1.7em;
font-size: 25px;

}


/* Gallery*/
.gallery {
    position: relative;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .image {
    padding: 20px;
    flex: 0 0 calc(100% / 3);
    position: relative;
  }
  
  .image img {
    width: 100%;
    height: 350px;
    position: cover;
  }
  
  .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .image:hover .caption {
    opacity: 1;
  }
  
  .prev-btn,
  .next-btn {
    position: absolute;
    top: 50%;
    padding: 5px 10px;
    font-size: 16px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: pink;
  }
  
  .prev-btn {
    left: 10px;
  }
  
  .next-btn {
    right: 10px;
  }



/*info-box*/

.info-box {
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 214, 214), rgb(255, 214, 214)),
    url(Pic/welcome\ background.jpg);
    background-size: cover;
    color: #fff;
    padding: 20px;
    height: 800px; /* Set the height to 500px */
    display: flex; /* Add flex display */
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-right: 100px;
  }
  
  .info-box h2{
    text-align: center;
    font-size: 40px;

  }

  
  .info-box p {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    width: 500px; /* Set the width of text*/
    
  }




/* Features */

#features h3{
    padding-bottom: 20px;
    font-family: "Fraunces", serif;
    font-size: 20px;
    font-weight: 400px;
}


.box{
    float: left;
    width: 33.3%;
    padding-top:  50px;
    padding-bottom: 50px;
    padding-left: 80px;
    padding-right: 80px;
    text-align: center;
}

.box i{
    
}

/* About Info */
.article img {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
    
.container2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px;
  gap: 10px;
}

.info-left{
  width: 35%;
  padding: 20px;
}

.info-right{
  width:35%;
  padding:20px;
  
}


/* Testimonials */
#testimonials {
    height: 600px;
    background: url('../images/test-bg.jpg') 
    no-repeat center/cover;
    padding-top: 40px;
}

#testimonials h2{
    color:#fff;
    text-align: center;
    padding-bottom: 40px;
}

#testimonials .testimonial{
    padding:20px;
    margin-bottom: 40px;
    border-radius: 5px;
    opacity: 0.7;
}

#testimonials .testimonial img {
    width: 100px;
    float: left;
    margin-right: 20px;
    border-radius: 50%;
    padding-bottom: 20px;
  }

  #testimonials h2{
    font-size: 40px;
  }
    
/* Contact form */
#contact-form .form-group {
    margin-bottom: 20px;

}

#contact-form label {
    display: block;
    margin-bottom: 5px;
}

#contact-form input,
#contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px #ddd solid;
}

#contact-form textarea {
    height: 200px;
    
}

#contact-form input:focus,
#contact-form textarea:focus {
    outline: none;
    border-color: palevioletred;
}


/* main-footer */

#main-footer {
    text-align: center;
    background-color:#efcece;
    color:#333;
    padding:20px;
}

